html,
body,
div,
main,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  box-sizing: border-box;

  &::selection {
    background: var(--color-primary);
    color: #ffffff;
  }
}
input::selection {
  background: var(--color-primary);
  color: #ffffff;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  // color: #fff;
}

html,
body {
  font-size: 16px;
}

html,
body,
#__nuxt,
#__layout,
.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html,
body,
section,
aside,
main,
aside,
div,
.app {
  &::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-second);
    border-radius: 9999px;
  }
}

.custom-scroll {
  scrollbar-width: thin;
  background-color: var(--color-primary);
  color: var(--color-primary);
}

// reset element ui
button.el-button {
  &.primary-button {
    background: var(--color-primary) !important;
    color: #ffffff !important;
    border-color: transparent !important;
  }

  &:active,
  &:focus {
    border-color: var(--color-primary);
  }

  &:hover,
  &:focus {
    background: var(--color-primary);
    color: #ffffff;
  }

  // fix error when element-ui's button blurs
  &:focus:not(button.el-button:hover) {
    background: white;
    color: #909399;
    border-color: #dcdfe6;
  }
}

input.el-input__inner {
  &:focus,
  &:active {
    outline-color: var(--color-primary);
    border-color: var(--color-primary);
  }
}
