.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-between-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.number {
  font-weight: 600;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mask {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($color: #000000, $alpha: 0.15);
  z-index: 1030;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
